<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto Ent</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #E1E5E8; /* Light Gray Background */
            color: #2B3A2D; /* Dark Smokey Green for text */
        }
        footer {
            background-color: #2B3A2D; /* Dark Smokey Green */
            color: #E1E5E8; /* Light Gray for footer text */
        }
        
        h1 {
            color: #4B5D33; /* Darker Smokey Green for heading */
        }
        h5 {
            color: #BAC2B8; /* Light Gray */
        }
    </style>
</head>
<body>
    <div class="container text-center">
        <h1>Seja bem-vindo ao projeto Ent!</h1>
        <p>Somos uma iniciativa open source de conscientização e prevenção de queimadas no Brasil</p>

        <div class="row">
            <div class="col-md-6">
                <p>
                    As queimadas e incêndios na Amazônia brasileira representam uma grave emergência ambiental. Apesar de uma redução de 16% na taxa de desmatamento no último ano, o número de incêndios tem aumentado de forma alarmante.
                </p>
                <p>
                    Em 2024, até agosto, mais de 53 mil incêndios foram registrados, um aumento de 80% em relação ao mesmo período do ano anterior. Esse crescimento é impulsionado por secas mais frequentes, que tornam as florestas mais vulneráveis a incêndios, e por atividades ilegais, como a agropecuária e a mineração, que desmatam e degradam a floresta.
                </p>
                <p>
                    Esses incêndios não apenas destroem vastas áreas de vegetação, mas também ameaçam a biodiversidade e os modos de vida das comunidades que habitam a região. Proteger a Amazônia é crucial para o equilíbrio climático global e para a preservação da vida selvagem. A ação imediata e coordenada é essencial para combater essa crise e garantir um futuro saudável para a floresta e suas comunidades.
                </p>
                <iframe width="100%" height="215" src="https://www.youtube.com/embed/XyZ_aBS0Jyc" frameborder="0" allowfullscreen title="Vídeo sobre queimadas"></iframe>
            </div>
            <div class="col-md-6">
                <p>
                    O Landscape Fire Governance Framework oferece um conjunto de princípios orientadores e metas de governança, com o intuito de ajustar estratégias e políticas de gerenciamento de incêndios a nível global, ao mesmo tempo que respeita as particularidades locais.
                </p>
                <p>
                    Este framework reconhece que a mudança de comportamentos e a valorização das áreas rurais são essenciais para a redução da vulnerabilidade aos incêndios. É necessário fortalecer modelos de governança que promovam o diálogo entre diferentes setores e incentivem a participação comunitária na tomada de decisões. Isso permitirá um gerenciamento mais eficiente e adaptável às especificidades locais, além de facilitar o monitoramento e a melhoria contínua das ações.
                </p>
                <h5>Referências</h5>
                <ul>
                    <li><a href="https://efi.int/publications-bank/wildfire-risk-planning-and-prevention-innovations-mediterranean-and-beyond" target="_blank">Wildfire Risk Planning and Prevention Innovations</a></li>
                    <li><a href="https://www.wildfire2023.pt/conference/framework" target="_blank">Wildfire 2023 Conference Framework</a></li>
                    <li><a href="https://amazonwatch.org/news/2024/0911-deforestation-declines-but-fires-rage-on-in-the-amazon" target="_blank">Deforestation Declines but Fires Rage on in the Amazon</a></li>
                    <li><a href="https://amazonwatch.org/news/2021/0831-forests-fires-and-finance-how-financial-institutions-are-fanning-the-flames" target="_blank">Forests, Fires, and Finance</a></li>
                </ul>
            </div>
        </div>
    </div>

    <footer class="text-center py-3">
        <div class="container">
            <h5>Desenvolvedores</h5>
            <div class="row">
                <div class="col-md-6">
                    <p>
                        Nome: Victor Sabaa<br>
                        GitHub: <a href="https://github.com/V1ct0rSabaa" target="_blank">github.com/V1ct0rSabaa</a><br>
                        E-mail: <a href="mailto:victor22070208@aluno.cesupa.br">victor22070208@aluno.cesupa.br</a>
                    </p>
                </div>
                <div class="col-md-6">
                    <p>
                        Nome: Fabicio José<br>
                        GitHub: <a href="https://github.com/mariasouza" target="_blank">github.com/mariasouza</a><br>
                        E-mail: <a href="mailto:fabricio21070035@aluno.cesupa.br">fabricio21070035@aluno.cesupa.br</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
